@charset "utf-8";
/* CSS Document */
body{
    margin:auto;
	width:1000px;
	padding:0;
	background-color:#FCFCD6;
	background-image:url("Image/balloon_PNG574.png");
}

#header{
    width:1000px;
	height:200px;
	background-color:#ff6666;
}

#title{
    float: middle;
	font-family:Comic Sans MS, cursive, sans-serif;
	font-size:120px;
	font-weight:1300px;
	text-align:center;
	color:rgb(255,255,255);
}

#player{
    float:middle;
	margin-top:40px;

}
.box{
    margin-top:10px;
    height:200px;
	width:700px;
	border-radius:25px;
	background-color:#5290d2;
}

#timer{
    margin-top:0px;
    margin-left:150px;
}

#image{
	position:absolute;
	left:900px;
	top:340px;
	
}

#image2{
	position:absolute;
	left:800px;
	top:560px;
}

#image3{
    position:absolute;
	left:840px;
	top:740px;

}
#image4{
    position:absolute;
	left:780px;
	top:970px;

}
#boxf{
    margin-top:10px;
    height:200px;
	width:850px;
	border-radius:25px;
	background-color:#5290d2;
}