@charset "utf-8";
/* CSS Document */
body{
font-family:"яе╨з";
font-size:20px;
font-weight:normal;
/* line-height:1; */
margin:auto;
width:800px;
padding:0;
position:relative;
background-color:#FCFCD6;
}
